<% content_for :page_title do %>Edit Asset<% end %>
<% content_for :page_subtitle do %>Assets<% end %>

<div class="row">
  <div class="col-lg-12 col-md-12">
    <!-- Add New Post Form -->
    <div class="card card-small mb-3">
      <div class="card-body">
        <%= render 'form', asset: @asset %>
      </div>
    </div>
    <!-- / Add New Post Form -->
  </div>
</div>
